<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content ="width=device-width", initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Scrape New Data</a></p>
        </div>
    
        <div class="row" id="mars-news">
          <div class="col-md-12">
              <h3>Latest Mars News</h3>
                <h4>{{ mars.news_title }}</h4>
                    <p>{{ mars.news_paragraph }}</p>
          </div>
        </div>

        <div class ="row" id="mars-image">
            <div class = "col-md-8">
                <h3>Featured Mars Image</h3>
                <img src = "{{ mars.featured_img }}" alt ="Mars Image">
            </div>
            <div class = "col-md-4">
                    <h4>Mars Facts</h4>
                    <p>{{ mars.facts | safe}}</p>
                </div>
        </div>
        
        <div class ="row" id="mars-hemispheres">
            <div class = "col-md-12">
                <h3><center>Mars Hemispheres</center></h3>

                {% for x in mars.hemispheres %}
                    <div class = "col-md-6">
                        <div class = "thumbnail">
                            <img src = "{{ x.img_url }}">
                                <h3>{{ x.title }}</h3>
                            </div>
                        </div>
                {% endfor %}
                    </div>
            </div>
        </div>
</body>
</html>